# Firebase Admin SDK
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"...","client_email":"...","private_key":"..."}
# OR use separate vars:
# FIREBASE_PROJECT_ID=somniwatch
# FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@somniwatch.iam.gserviceaccount.com
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Paystack
PAYSTACK_SECRET_KEY=sk_test_xxxxxxxx

# App
APP_URL=https://watch.somniread.com
PORT=3001
APP_LIVE=false
LAUNCH_DATE=2026-05-20T00:00:00Z
